@model MvcCrudProject.Models.Entities.Departman
@{
    ViewBag.Title = "Kaydet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departman Kayıt Ekranı</h2>

@using (Html.BeginForm("Ekle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Ad)
        @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Kaydet</button>
}